<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>order of operation</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <div id="symboles"> Start</div>
    <input id="answer" type="text" onkeyup="chkAnswer()" type="number" pattern="[0-9]*" inputmode="numeric" />
    <div id="Time">jdsaddsffgfdgfg</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>


    <script>
        //enumiration module can be a seperate thing with global constents
        // the below should be in audio module
        var getName = {
            '1': 'one',
            '2': 'two',
            '3': 'three',
            '4': 'four',
            '5': 'five',
            '6': 'six',
            '7': 'seven',
            '8': 'eight',
            '9': 'nine',
            '0': 'zero',
            '10': 'ten',
            '11': 'eleven',
            '12': 'twelve',
            '13': 'thirteen',
            '14': 'fourteen',
            '15': 'fifteen',
            '16': 'sixteen',
            '17': 'seventeen',
            '18': 'eightteen',
            '19': 'nineteen',
            '20': 'twenty',
            '30': 'thirty',
            '40': 'fourty',
            '50': 'fifty',
            '60': 'sixty',
            '70': 'seventy',
            '80': 'eighty',
            '90': 'ninety',
            '100': 'hundred',
            '1000': 'thousend',
            '+': 'plus',
        };

        var time = [];


        var gblAnswer = "";
        var clearTimeoutHandel = "";
        var gblRate = 2;

        // if the user take more time
        // then ither he is not engaged or the problen is too hard
        // means he should practice others at the edge of his comfirt zone
        var maxTimeThreshold = 5;

        // these values should be validated before use
        // when implemented
        var maxLength;
        var minLength;
        var handiCapNumber;
        var maxValue = 99;
        var minValue = 4;

        //numbers
        //Audio module should be a seperete module
        //
        var one = new Audio('audio/Numbers/1.wav');
        var two = new Audio('audio/Numbers/2.wav');
        var three = new Audio('audio/Numbers/3.wav');
        var four = new Audio('audio/Numbers/4.wav');
        var five = new Audio('audio/Numbers/5.wav');
        var six = new Audio('audio/Numbers/6.wav');
        var seven = new Audio('audio/Numbers/7.wav');
        var eight = new Audio('audio/Numbers/8.wav');
        var nine = new Audio('audio/Numbers/9.wav');
        var zero = new Audio('audio/Numbers/0.wav');

        var eleven = new Audio('audio/Numbers/11.wav');
        var twelve = new Audio('audio/Numbers/12.wav');
        var thirteen = new Audio('audio/Numbers/13.wav');
        var fourteen = new Audio('audio/Numbers/14.wav');
        var fifteen = new Audio('audio/Numbers/15.wav');
        var sixteen = new Audio('audio/Numbers/16.wav');
        var seventeen = new Audio('audio/Numbers/17.wav');
        var eightteen = new Audio('audio/Numbers/18.wav');
        var nineteen = new Audio('audio/Numbers/19.wav');


        var ten = new Audio('audio/Numbers/ten.wav');
        var twenty = new Audio('audio/Numbers/twenty.wav');
        var thirty = new Audio('audio/Numbers/thirty.wav');
        var fourty = new Audio('audio/Numbers/fourty.wav');
        var fifty = new Audio('audio/Numbers/fifty.wav');
        var sixty = new Audio('audio/Numbers/sixty.wav');
        var seventy = new Audio('audio/Numbers/seventy.wav');
        var eighty = new Audio('audio/Numbers/eighty.wav');
        var ninety = new Audio('audio/Numbers/ninety.wav');
        var hundred = new Audio('audio/Numbers/hundred.wav');
        var thousend = new Audio('audio/Numbers/thousend.wav');

        //operators
        var plus = new Audio('audio/Operators/plus.wav');

        //performance module should be a seperate module
        var t0 = performance.now();
        var t1 = performance.now();

        var gblAnswerIt = false;

        function nxtCombination() {
            var value = getRandomInt(minValue, maxValue);
            //value = getRandomInt(11, 18);
            var part = 0;
            var difference = 0;
            while (difference < 2 || part < 2 || difference > 99 || part > 99) {
                // make this feture perminent later
                part = getRandomInt(1, value);
                //part=9;
                difference = value - part;
                if (difference >= 2 && part >= 2 && difference <= 99 && part <= 99) {
                    //
                    break;
                }
            }

            var first = difference;
            var second = part;
            $("#symboles").html(first + "+" + second);

            var firstAudio = window[getName[first]];
            var secondAudio = window[getName[second]];
            var plusAudio = window[getName["+"]];


            plusAudio.onended = function () {

                //sayDigit(second,null,true);
                sayNumber(second,null,true);

                plusAudio.onended = null;
            };

            //sayDigit(first, plusAudio);
            sayNumber(first, plusAudio);
  
            gblAnswer = first + second;
            document.getElementById("answer").value = "";
            document.getElementById("answer").focus();
            t0 = performance.now();
            logTime((first + "+" + second), ((t0 - t1) / 1000).toFixed(3));
            $("#Time").html(time);
            //playRate(firstAudio);
        }

        function playRate(audio, rate) {
            if (rate) {
                audio.playbackRate = rate;
            } else {
                audio.playbackRate = gblRate;
            }
            audio.play();
        }

        function sayeq(equArray) {

        }
        function answerIt(ansDelay,nxtDelay){
                        if (gblAnswerIt) {
                setTimeout(function () {
                    document.getElementById("answer").value = gblAnswer;
                    //sayNumber(gblAnswer);
                    sayDigit(gblAnswer);
                    setTimeout(function () {
                        nxtCombination();
                    }, nxtDelay);
                }, ansDelay);
            };
        }

        function toggleAnswerIt(ansDelay,nxtDelay){
            if (gblAnswerIt) {
                gblAnswerIt = false;
            }else{
                gblAnswerIt = true;
                nxtCombination();
            }
        }

        function sayNumber(number, operation,answer) {
            if (number <= 20) {
                var firstAudio = window[getName[number]];                
                if (operation) {
                    firstAudio.onended = function () {
                        playRate(operation);
                        firstAudio.onended = null;
                    };
                }
                playRate(firstAudio);
            } else if (number <= 99) {
                if (number.toString().substring(1, 2) == "0") {
                    var firstAudio = window[getName[number.toString().substring(0, 1) + "0"]];
                    if (operation) {
                        firstAudio.onended = function () {
                            playRate(operation);
                            firstAudio.onended = null;
                        };
                    }
                    playRate(firstAudio);
                } else {
                    var firstAudio = window[getName[number.toString().substring(0, 1) + "0"]];
                    var secondAudio = window[getName[number.toString().substring(1, 2)]];
                    secondAudio.onended = function () {
                        if (operation) {
                            playRate(operation);
                        }
                        firstAudio.onended = null;
                        secondAudio.onended = null;
                    };
                    firstAudio.onended = function () {
                        playRate(secondAudio);
                    };
                    playRate(firstAudio, 1.5);
                }
            } else if (number <= 999) {
                var firstAudio = window[getName[number.toString().substring(0, 1)]];
                var secondAudio = window[getName[number.toString().substring(1, 2) + "0"]];
                var thirdAudio = window[getName[number.toString().substring(2, 3)]];
                secondAudio.onended = function () {
                    if (number.toString().substring(2, 3) != "0") {
                        if (operation) {
                            thirdAudio.onended = function () {
                                playRate(operation);
                                thirdAudio.onended = null;
                            };
                        }
                        playRate(thirdAudio);
                    }
                    firstAudio.onended = null;
                    secondAudio.onended = null;
                };
                firstAudio.onended = function () {
                    playRate(secondAudio, 1.5);
                };
                playRate(firstAudio, 1.5);
            }
            if (answer) {
                answerIt(10000,2000);
            };
        }

        var equationArray={};
        function speakArray() {


        }

        function sayDigit(number, operation,answer) {
            if(number <= 9){
                var firstAudio = window[getName[number]];                
                if (operation) {
                    firstAudio.onended = function () {
                        playRate(operation);
                        firstAudio.onended = null;
                    };
                }
                playRate(firstAudio);
            }
            else if (number <= 99) {
                    var firstAudio = window[getName[number.toString().substring(0, 1)]];
                    var secondAudio = window[getName[number.toString().substring(1, 2)]];

                    firstAudio.onended = function () {
                        firstAudio.onended = null;
                            secondAudio.onended = function () {
                                if (operation) {
                                    playRate(operation);
                                }
                                secondAudio.onended = null;
                             };
                        playRate(secondAudio);

                    };
                    playRate(firstAudio, 1.5);

            } else if (number <= 999) {
                var firstAudio = window[getName[number.toString().substring(0, 1)]];
                var secondAudio = window[getName[number.toString().substring(1, 2) + "0"]];
                var thirdAudio = window[getName[number.toString().substring(2, 3)]];
                secondAudio.onended = function () {
                    if (number.toString().substring(2, 3) != "0") {
                        if (operation) {
                            thirdAudio.onended = function () {
                                playRate(operation);
                                thirdAudio.onended = null;
                            };
                        }
                        playRate(thirdAudio);
                    }
                    firstAudio.onended = null;
                    secondAudio.onended = null;
                };
                firstAudio.onended = function () {
                    playRate(secondAudio, 1.5);
                };
                playRate(firstAudio, 1.5);
            }
            if (answer) {
                answerIt(5000,2000);
            };
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function logTime(eq, sec) {
            if (time.length < 10) {
                if (sec < maxTimeThreshold) {
                    time.push([eq, sec]);
                    time.sort(function (a, b) {
                        return b[1] - a[1]
                    });
                }

            } else if (sec < maxTimeThreshold) {
                time.push([eq, sec]);
                time.sort(function (a, b) {
                    return b[1] - a[1]
                });
                time.splice(10, 1);
            }


        }



        function chkAnswer() {

            if (document.getElementById("answer").value == gblAnswer) {
                nxtCombination();
                t1 = performance.now();
            }else if (document.getElementById("answer").value == gblAnswer.toString().substring(0,document.getElementById("answer").value.toString().length)){
            }
             else {
                clearTimeout(clearTimeoutHandel);
                clearTimeoutHandel = setTimeout(function () {
                    document.getElementById("answer").value = "";
                }, 400);
            }

        }
        $(document).ready(function () {
            nxtCombination();
        })
    </script>

</body>

</html>
